body {
    background: silver;
}
img, a img {
    border: none;
}
a {
    text-decoration: none;
}

a, .sidebar {
    color: #eee;
}
input {
    /*width: 25px;*/
    height: 25px;
    border-radius: 10px;
    transition: all 0.15s ease-in;
    vertical-align: middle;
    margin-left: 10px;
}
.desktop {
    width: 1200px;
    margin: auto;
}
.sidebar {
    float: left;
    background: #454545;
    width: 140px;
    margin: 0px;
    height: 837px;
}
.sidebar .nav > * {
    line-height: 1.8;
    font-weight: 700;
}
.sidebar .nav ul {
    list-style: none;
    text-align: left;
    padding: 0px;
}
.sidebar .nav ul li {
    display: inline;
}
.sidebar .nav a {
    display: block;
    padding-left: 20px;
}
.sidebar .nav a:hover {
    color: green;
    -webkit-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;
}
.content {
    float: right;
    width: 1060px;
    background:  bisque;
}
.content .top {
    height: 45px;
    background: #673AB7;
    margin: auto;
}
.desktop .sidebar .logo {
    padding: 10px 20px;
    font-size: 28px;
    margin: auto;
    text-align: center;
    /*display: inline-block;*/
}
.top .toolkit {
    float: left;
    width: 100%;
    position: relative;
    height:  100%;
    display: flex;
    justify-content: space-between;
}
.content .subtitle {
    width: 100%;
    height: 60px;
    background:  sandybrown;
}
.content .board {
    background: red;
    padding: 12px;
    box-sizing: border-box;
}
.content .board .static {
    background: silver;
    height: 120px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}
.content .board .data_board {
    height: 240px; 
    background: #40e0d0;
    display: flex;
}
.content .board .static .coding {
    background: blue;
    flex: 1;
}
.content .board .static .modules {
    background: yellow;
    flex: 1;
}
.content .board .static .opening {
    background: green;
    flex: 1;
}
.content .board .diagram {
    margin: auto;
    background: snow;
    height: 340px;
    border: 2px solid blue;
    display: flex;
}
.content .board .diagram .ut_pad {
    background: silver;
    flex: 1;
}
.content .board .diagram .bce_pad {
    background: #795548;
    flex: 1;
}
.content .board .diagram .sprint_pad {
    background: #2e8b57;
    flex: 1;
}
.content .board .data_board .bow {
    background: yellow;
    flex: 2;
}
.content .board .data_board .tasks {
    background: green;
    flex: 3;
}
.top .toolkit .search {
    width: 220px;
    margin: auto 0
}
.top .toolkit .profile {
    width: 340px;
    background: blue;
}
