<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lite Home</title>
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body>
<div class="desktop" ng-app="lite_app" ng-controller="liteCtrl as ctrl">
    <div class="top">
        <div class="title">Lite Work</div>
        <div class="toolkit">
            <div class="search">search box</div>
            <div class="profile">my profile</div>
        </div>
    </div>
    <div class="content">
        <div class="nav">
            <ul id="menu">
                <li><a href="#" ng-click="app.route('staffs')">Reports</a></li>
                <li><a href="#" ng-click="app.route('staffs')">Performance</a></li>
                <li><a href="#" ng-click="app.route('staffs')">Data Dict</a></li>
                <li><a href="#" ng-click="app.route('staffs')">Notes</a></li>
                <li><a href="#" ng-click="app.route('staffs')">Admin</a></li>
            </ul>
        </div>
        <div class="board">
            <div class="subtitle">subtitle</div>
            <div class="static">
                <div class="coding">coding static</div>
                <div class="modules">modules static</div>
                <div class="opening">open position static</div>
            </div>
            <div class="diagram">
                <div class="ut_pad">unit test diagram</div>
                <div class="bce_pad">BCE diagram</div>
                <div class="sprint_pad">sprint diagram</div>
            </div>
            <div class="data_board">
                <div class="bow">book of work table</div>
                <div class="tasks">todo tasks table</div>
            </div>
        </div>
    </div>

</div>
<script src="/static/js/lib/angularjs/1.4.6/angular.js"></script>
<script src="/static/js/app/main.js"></script>
</body>
</html>