<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lite Home</title>
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/css/slick-default-theme.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/slick.grid.css">
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body>
<div class="desktop" ng-app="lite_app" ng-controller="liteCtrl as ctrl">
    <div class="sidebar">
        <div class="logo">Lite</div>
        <div class="nav">            
            <ul id="menu">
                <li><a href="#" ng-click="app.route('staffs')">Reports</a></li>
                <li><a href="#" ng-click="app.route('staffs')">Performance</a></li>
                <li><a href="#" ng-click="app.route('staffs')">Data Dict</a></li>
                <li><a href="#" ng-click="app.route('staffs')">Notes</a></li>
                <li><a href="#" ng-click="app.route('staffs')">Admin</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="top">
            <div class="toolkit">
                <div class="search">
                    <div class="i"></div>
                    <input type="search" id="lookup"/>
                </div>
                <div class="profile">
                    <span class="alert"></span>
                    <span class="user"></span>
                </div>
            </div>
        </div>
        <div class="board">
            <div class="subtitle">Dashboard > Report</div>
            <div class="panel">
                <div class="utest">unit test static</div>
                <div class="tdebt">tech debt static</div>
                <div class="customize">customized panel</div>
            </div>
            <div class="data">
                <div class="filter">
                    <ul>
                        <li ng-repeat="x in ctrl.notes">
                            <span>{{x.label}}</span>
                        </li>
                    </ul>
                </div>
                <div id="myteam" class="team">team panel</div>
            </div>
            <div class="release_board">
                <div class="calendar">book of work table</div>
                <div class="details">todo tasks table</div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="/static/js/lib/jquery/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/static/js/lib/jquery/jquery.event.drag-2.2.js"></script>
<script type="text/javascript" src="/static/js/lib/slick.core.js"></script>
<script type="text/javascript" src="/static/js/lib/slick.grid.js"></script>

<script src="/static/js/lib/angularjs/1.4.6/angular.js"></script>
<script src="/static/js/app/main.js"></script>

</body>
</html>