div.container
{
	width:100%;
	margin:0px;
	border:1px solid gray;
	line-height:150%;
}
div.header,div.footer
{
	padding:0.5em;
	color:white;
	background-color:gray;
	clear:left;
}
h1.header, h2.header, h3.header
{
	padding:0;
	margin:0;
	text-transform: capitalize;
}
div.left
{
	float:left;
	width:120px;
	margin:0;
	padding:1em;
	background: #0E77AE
}
div.content
{
	margin:auto;
	float:left;
	border-left:1px solid gray;
	padding:1em;
	/*border: solid;*/
}
#menu {
	padding: 0;
	margin: 0;
}
#menu li {
	list-style-type: none;
	text-transform: capitalize;
}
#menu a, #menu a:visited {
	display: block;
	width: 6em;
	/*border: 1px solid #808;*/
	text-decoration: none;
	/*background: #808;*/
	color: #eee;
	padding: 0.25em;
}
#menu a:hover {
	background: #ddd;
	color:#808;
}