<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lite Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container" ng-app="lite_app" ng-controller="liteCtrl as app">
    <div class="left">
        <ul id="menu">
            <li><a href="#" ng-click="app.route('staffs')">staffs</a></li>
            <li><a href="#" ng-click="app.route('staffs')">events</a></li>
            <li><a href="#" ng-click="app.route('staffs')">calendar</a></li>
            <li><a href="#" ng-click="app.route('staffs')">dataExplore</a></li>
            <li><a href="#" ng-click="app.route('staffs')">notes</a></li>
        </ul>
    </div>
    <div class="content">
        {% block body %}{% endblock %}
    </div>
    <div class="footer"><span>Copyright 2018 by XX</span></div>
</div>
<script src="/static/js/libs/1.4.6/angular.min.js"></script>
<script src="/static/js/app/main.js"></script>
</body>
</html>